@model VehicleViewModel
@{
    ViewData["Title"] = "Home Page";
    var listOfLayers = Enum.GetValues<Layer>().Select(x => new SelectListItem { Value = ((int)x).ToString(), Text = x.ToString().Replace('_',' ') });
    var listOfOperators = Enum.GetValues<SpatialOperator>().Select(x => new SelectListItem { Value = ((int)x).ToString(), Text = x.ToString().Replace('_', ' ') });
    var vehicleTypes = Enum.GetValues<VehicleType>().Select(x => new SelectListItem { Value = ((PostGISVehicleType)x).ToString(), Text = x.ToString().Replace('_', ' ') });
}

<div class="legendDiv col-sm-3">
    <div class="legend">Legend:</div>
    <div class="form-check form-switch">
        <div class="legend-tag education"></div>
        <input class="form-check-input" type="checkbox" id="educationCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Educational institutions</label>
    </div>
    <div class="form-check form-switch">
        <div class="legend-tag hospital"></div>
        <input class="form-check-input" type="checkbox" id="hospitalCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Hospitals</label>
    </div>
    <div class="form-check form-switch">
        <div class="legend-tag sport"></div>
        <input class="form-check-input" type="checkbox" id="sportCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Sport institutions</label>
    </div>
    <div class="form-check form-switch">
        <div class="legend-tag gas">
            <img class="marker" src="marker-default.png" />
        </div>
        <input class="form-check-input" type="checkbox" id="gasCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Gas stations</label>
    </div>
    <div class="form-check form-switch">
        <div class="legend-tag pharmacy">
            <img class="marker" src="marker-red.png" />
        </div>
        <input class="form-check-input" type="checkbox" id="pharmacyCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Pharmacies</label>
    </div>
    <div class="form-check form-switch">
        <div class="legend-tag forest">
            <div class="line"></div>
        </div>
        <input class="form-check-input" type="checkbox" id="forestCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Forests</label>
    </div>
    <div class="form-check form-switch">
        <div class="legend-tag river">
            <div class="line"></div>
        </div>
        <input class="form-check-input" type="checkbox" id="riverCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Rivers</label>
    </div>
    <div class="form-check form-switch">
        <div class="legend-tag railway">
            <div class="line"></div>
        </div>
        <input class="form-check-input" type="checkbox" id="railwayCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Railways</label>
    </div>
    <div class="form-check form-switch">
        <div class="legend-tag roads">
            <div class="line"></div>
        </div>
        <input class="form-check-input" type="checkbox" id="roadCheck">
        <label class="form-check-label" for="flexSwitchCheckChecked">Roads</label>
    </div>

    @*Filtriranje objekata*@
    <div class="filter">
        <div class="basicFilter">
            <p>Basic filter</p>
            <div>
                @Html.DropDownList("BasicFilterLayer", listOfLayers, "Select layers", new { @class = "form-control"})
            </div>
            <div>
                @Html.DropDownList("BasicAttribute", new List<SelectListItem>(), "Select attribute", new { @class = "form-control"})
            </div>
            <div>
                <input class="form-control" id="basicFilterCondition" placeholder="Type a condition..." />
                <p style="font-size:8pt">
                    Allowed operators: =,&lt,&gt,&gt=,&lt=,!=, LIKE, IN, NOT IN, NOT 
                    <br />
                    Example: LIKE '%Александар%'
                </p>
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="btnBasicFilter" onclick="basicSearch()">Search</button>
                <button type="button" class="btn btn-danger" id="btnResetBasicFilter" onclick="resetBasicSearch()">Reset filter</button>
            </div>
        </div>
        <div class="spatialFilter">
            <p>Spatial filter</p>
            <div>
                @Html.DropDownList("SpatialLeftLayer", listOfLayers, "Select first layers", new { @class = "form-control"})
            </div>
            <div>
                @Html.DropDownList("SpatialOperator", listOfOperators, "Select operator", new { @class = "form-control"})
            </div>
            <div>
                <input class="form-control" type="number" id="spatialDistance" placeholder="Type a distance (in meter)..." style="display:none;"/>
            </div>
            <div>
                @Html.DropDownList("SpatialRightLayer", listOfLayers, "Select second layers", new { @class = "form-control"})
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="btnSpatialFilter" onclick="spatialSearch()">Search</button>
                <button type="button" class="btn btn-danger" id="btnResetSpatialFilter" onclick="resetSpatialSearch()">Reset filter</button>
            </div>
        </div>
        <div class="spatialTemporalFilter">
            <p>Spatial temporal filter</p>
            <div>
                Find all roads where:
                <select class="form-control" id="temporalType">
                    <option disabled hidden>Select type of query</option>
                    <option value="0">Number of car</option>
                    <option value="1">Average speed</option>
                </select>
            </div>
            <div>
                <select class="form-control" id="temporalOperator">
                    <option disabled hidden>Select operator</option>
                    <option value="0">=</option>
                    <option value="1">&lt</option>
                    <option value="2">&gt</option>
                    <option value="3">&gt=</option>
                    <option value="4">&lt=</option>
                </select>
            </div>
            <div>
                <input class="form-control" type="number" id="temporalValue" placeholder="Type a value..."/>
            </div>
            <div class="raw" style="display:flex;">
                <input class="form-control" type="number" id="temporalStartTime" min="0" max="3600" placeholder="Start time (min: 0)" />
                <input class="form-control" type="number" id="temporalEndTime" min="0" max="3600" placeholder="End time (max: 3600)" />
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="btnTemporalFilter" onclick="temporalSearch()">Search</button>
                <button type="button" class="btn btn-danger" id="btnResetTemporalFilter" onclick="resetTemporalSearch()">Reset filter</button>
            </div>
        </div>
        <div class="trajectoriesFilter">
            <p>Trajectories filter</p>
            <div>
                @Html.DropDownList("TypeOfVehicle", vehicleTypes, "Select type of vehicle", new { @class = "form-control"})
            </div>
            <div>
                @Html.DropDownList("VehicleId", new List<SelectListItem>(), "Select vehicle", new { @class = "form-control"})
            </div>
            <div class="raw" style="display:flex;">
                <input class="form-control" type="number" id="trajectoryStartTime" min="0" max="3600" placeholder="Start time (min: 0)" />
                <input class="form-control" type="number" id="trajectoryEndTime" min="0" max="3600" placeholder="End time (max: 3600)" />
            </div>
            <div>
                <button type="button" class="btn btn-primary" id="btnTrajectoriesFilter" onclick="trajectoriesSearch()">Search</button>
                <button type="button" class="btn btn-danger" id="btnResetTrajectoriesFilter" onclick="resetTrajectoriesSearch()">Reset filter</button>
            </div>
        </div>
    </div>
</div>
<div id="map" class="col-sm-9"></div>

<script>
    var allVehicle = @Html.Raw(Json.Serialize(Model.Vehicles));
</script>

